<div class="container text-center ">
    <h3 class="text-center text-white">Member List</h3>

    <div class="row">
        <div class="offset-4 col-md-5 text-center">
            <select class="form-control py-0 my-6 text-center"
            #select
            (change)="fnAddMember(select)">
                <option value="">Select</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5 </option>   
                
            </select>
        </div>
    </div>  
    <hr>
    <form [formGroup]="addMember">
    <div class="row">
        <div class="col-md-12 box bg-info rounded shadow py-3 mr-5">
            <div class="card" formArrayName="itemRows" *ngFor="let itemRow of addMember.get('itemRows').controls; let i=index" style="width: 20rem;">
                <span [formGroupName]='i'>
                <h5>Member-{{i+1}}</h5>
                <div class="card-body" >
                <input type="text" formControlName="fName" class="form-control reset">

                LastName :<input type="text" formControlName="lName" class="form-control reset">
                Email :<input type="text" formControlName="email" class="form-control reset">
                Place :<input type="text" formControlName="place" class="form-control reset">
                DOB :<input type="text" formControlName="dob" class="form-control reset">
            </div>
        </span>
              </div>
        </div>
        <button class="btn btn-danger" (click)="fnSubmit()">Submit</button>
    </div>
</form>
</div>
